@use '../abstracts/index' as *;

#display{
    font-family: 'Fira Code', monospace;
    font-weight: 800;
    font-size: 7rem;
    color: $color-blue;
    // background: -webkit-linear-gradient(0deg, $color-pink, $color-blue);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    text-shadow: 0px 20px 100px $color-blue-shadow;
}