@use '../abstracts/index' as *;

#display{
    font-family: 'Fira Code', monospace;
    font-weight: 800;
    font-size: 6rem;
    color: $color-blue;
    font-style: italic;
    text-shadow: 0px 20px 100px $color-blue-shadow;


    @include media-l{
        font-size: 4rem;
    }

    @include media-m{
        text-align:center;
    }

    @include media-xs{
        font-size: 3rem;
    }
}