@use '../abstracts/index' as *;

.drum-pad{
    width: 100%;
    height: 100%;
    background-color: $color-pink;
    list-style-type: none;
    @include flex($align:center, $justify: center);
    font-size: 5rem;
    font-weight: 800;
    color: white;
    border-radius: 2rem;
    user-select: none;
    cursor: pointer;
    box-shadow: 20px -20px 0px -4px $color-pink-shadow;
    transition: all 100ms ease-in;

    &.active{    
        transform: translate(-24px, 20px) scale(1.05);
        box-shadow: 41px -39px 0px -7px $color-blue-shadow;
        background: $color-blue;
        text-shadow: none;
        color:$color-pink;
        z-index: 1;
    }

    @include media-xs{
        font-size: 3rem;
        border-radius: 1rem;
        box-shadow: 10px -10px 0px -4px $color-pink-shadow;
        &.active{    
            box-shadow: 29px -26px 0px -4px $color-blue-shadow;
        }
    }
}